
<div class="row">
  <div class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href routerLink="/dashboard" class="navbar-brand">
        Dashboard
        </a>
      </div>
      <div class="navbar-collapse collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="myIcon" (click)="onLogout()"><i class="fas fa-sign-out-alt"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-sm-12 col-xs-12 col-lg-12">
    <form #student="ngForm" (ngSubmit)="onSubmit(student.value)">
      <div class="col-md-6 col-xs-12 col-sm-12">
      <fieldset>
        <legend class="text-center">Personal Details</legend>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" class="form-control" ngModel #name="ngModel" required>
        </div>

        <div class="form-group">
            <label for="qualification">Qualification</label>
           <select class="form-control" name="qualification" ngModel #qualification="ngModel" required>
             <option value="BE">BE</option>
             <option value="Btech">BTECH</option>
             <option value="Mtech">MTECH</option>
             <option value="puc">PUC</option>
             <option value="BCA">BCA</option>
             <option value="MCA">MCA</option>
             <option value="BSC">BSC</option>
             <option value="MSC">MSC</option>
             <option value="others">others</option>

           </select>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" ngModel #email="ngModel" required>
        </div>


        <div class="input-group">
            <label for="gender">Gender</label><br>
           <label>
              Male <input type="radio" value="male" name="gender" #gender="ngModel" ngModel required>
            </label>
            <label>
              Female <input type="radio" value="female" name="gender" #gender="ngModel" ngModel required>
            </label>
        </div>


        <div class="form-group">
          <label for="dob">Date Of Birth</label>
          <input type="date" name="dob" id="dob" class="form-control" #dob="ngModel" ngModel required>
        </div>

        <div class="form-group">
            <label for="mobile">Mobile</label>
            <input type="number" name="mobile" id="mobile" class="form-control" #mobile="ngModel" ngModel required>
        </div>

        <div class="form-group">
            <label for="address">Address</label>
            <textarea  name="address" id="address" rows="5" class="form-control" #address="ngModel" ngModel required></textarea>
        </div>
    </fieldset>
          </div>


        <div class="col-md-6 col-xs-12 col-sm-12">
          <fieldset>
            <legend class="text-center">Course Details</legend>
            <div class="form-group">
              <label for="cname">Course Name</label>
              <input type="text" name="cname" id="cname" class="form-control" ngModel #cname="ngModel" required>
            </div>

            <div class="form-group">
                <label for="fee">Fee</label>
                <input type="number" name="fee" id="fee" class="form-control" ngModel #fee="ngModel" required>
            </div>

            <div class="form-group">
                <label for="duration">Duration</label>
                <input type="text" name="duration" id="duration" class="form-control" ngModel #duration="ngModel" required>
            </div>
            <div class="form-group">
                <label for="balance">Balance</label>
                <input type="number" name="balance" id="balance" class="form-control" ngModel #balance="ngModel" required>
            </div>

            <div class="form-group">
                <label for="due">Due Date</label>
                <input type="number" name="due" id="due" class="form-control" ngModel #due="ngModel" required>
            </div>

            <div class="form-group">
                <label for="paid">Paid</label>
                <input type="number" name="paid" id="paid" class="form-control" ngModel #paid="ngModel" required>
            </div>

            <div class="form-group">
                <label for="doe">Date of Enroll</label>
                <input type="date" name="doe" id="doe" class="form-control" ngModel #doe="ngModel" required>
            </div>


            <div class="form-group">
              <label for="mop">Mode of payment</label>
              <select name="mop" id="mop" #mop="ngModel" ngModel required>
                <option value="cash">Cash</option>
                <option value="netbanking">Net Banking</option>
                <option value="wallet">Wallet</option>
              </select>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <div class="col-md-4 col-sm-4 col-xs-4">
          <button type="submit" value="submit"  class="form-control">Create Student</button>
          </div>
        </div>
    </form>
  </div>
</div>
