<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form  #login="ngForm" (ngSubmit)="onLogin(login.value)">
      <legend>ERP SYSTEM LOGIN</legend>
      <div class="form-group">
        <label for="username">USER NAME</label>
        <input type="email" class="form-control" name="email" id="email"  #email="ngModel" ngModel required >
      </div>

      <div class="form-group">
        <label for="password">PASSWORD</label>
        <input type="password" name="password" id="password" class="form-control"  #password="ngModel" ngModel required >
      </div>

      <div class="form-group">
        <div class="btn-group">
          <input type="submit" value="login" class="btn btn-info">
          <a title="Register now" href routerLink="/signup" class="btn btn-danger">signup</a>
        </div>
      </div>
    </form>
  </div>
</div>
