<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href routerLink="/" class="navbar-brand">
        <img src="https://www.be-practical.com/assets/images/logo.png" width="130px">
      </a>
    </div>
    <div class="navbar-collapse collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="text-center">
    <flash-messages></flash-messages>
  </div>
    <router-outlet></router-outlet>
</div>
